.word-start {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    z-index: 15;
    width: 1155px;
    height: 607px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    &-btn {
        background-color: #8ECCDA;
        border: none;
        border-radius: 5px;
        color: #fff;
        padding: 20px;
        font-size: 23px;
        width: 300px;
        margin-top: -30px;
        outline: none;
    }
}

.word-start-button {
    --offset: 10px;
    --border-size: 2px;
    width: 300px;
    display: block;
    position: relative;
    padding: 20px;
    appearance: none;
    border: 0;
    background: transparent;
    color: #8ECCDA;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    transition: .3s;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    &:hover {
        background: rgba(189, 209, 212, 0.349);
        color: #ffffff;
    }
    &__horizontal,
    &__vertical {
        position: absolute;
        top: var(--horizontal-offset, 0);
        right: var(--vertical-offset, 0);
        bottom: var(--horizontal-offset, 0);
        left: var(--vertical-offset, 0);
        transition: transform .8s ease;
        will-change: transform;
        &::before {
            content: '';
            position: absolute;
            border: inherit;
        }
    }
    &__horizontal {
        --vertical-offset: calc(var(--offset) * -1);
        border-top: var(--border-size) solid currentcolor;
        border-bottom: var(--border-size) solid currentcolor;
        &::before {
            top: calc(var(--vertical-offset) - var(--border-size));
            bottom: calc(var(--vertical-offset) - var(--border-size));
            left: calc(var(--vertical-offset) * -1);
            right: calc(var(--vertical-offset) * -1);
        }
    }
    &:hover &__horizontal {
        transform: scaleX(0);
    }
    &__vertical {
        --horizontal-offset: calc(var(--offset) * -1);
        border-left: var(--border-size) solid currentcolor;
        border-right: var(--border-size) solid currentcolor;
        &::before {
            top: calc(var(--horizontal-offset) * -1);
            bottom: calc(var(--horizontal-offset) * -1);
            left: calc(var(--horizontal-offset) - var(--border-size));
            right: calc(var(--horizontal-offset) - var(--border-size));
        }
    }
    &:hover &__vertical {
        transform: scaleY(0);
    }
}